@use "./../styles/variables.scss" as *;

:host {
  height: 100%;
  @include flex();
  background-image: url("../../assets/VideoGameBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

mat-card {
  width: 50%;
  height: 55%;

  mat-card-header {
    @include flex();
  }

  mat-card-actions {
    @include flex();
    button {
      width: 60%;
    }
  }

  form {
    @include flex(column);
    gap: 10px;

    .inputField {
      width: 60%;
    }

    .forgotPassword-wrapper {
      width: 60%;
      text-align: end;
      span {
        cursor: pointer;
        line-height: 1.5rem;
        &:hover {
          color: #69f0ae;
          text-decoration: underline;
        }
      }
    }
  }
}
