h1 {
  text-align: center;
}
mat-form-field {
  width: 100%;
}

.openGame {
  cursor: pointer;
}

.commentBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-label {
  font-size: 0.8em;
}

.comments {
  height: 100px;
  overflow-y: scroll;
}

.mat-icon-button {
  margin-left: 92%;
}

.mat-dialog-content {
  padding-top: 20px;
}
